@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #4A5F8E;
    --secondary-color: #D3D3D3;
    --error-color: red;
    --warning-color: orange;
    --success-color: #3A9B55;
    --text-color: #7D7D7D;
    --background-color: #f7f7f7;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    padding: 0 1rem; 
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Ajuste conforme necessário */
}

#svg {
    width: 50%; 
    max-width: 600px;
}

.container {
    background-color: #FFF;
    padding: 1rem; 
    border-radius: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 50%; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; 
}

#logo_idam {
    width: 120px; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 1rem;
}

input {
    margin: 0.5rem;
    padding: 1rem; 
    width: 90%; 
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 14px;
    box-sizing: border-box;
}

input,
button {
    transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
    background-color: orange;
}

.senha-container {
    width: 90%;
    position: relative;
}

.senha-container input {
    width: 100%;
    margin-left: 0;
    padding: 1rem;
    border-radius: 10px;
    font-size: 14px;
    box-sizing: border-box;
}

.toggle-visibility {
    position: absolute;
    top: 50%;
    right: 1rem; 
    transform: translateY(-50%);
    cursor: pointer;
}

#senhaAtualizada {
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background: var(--success-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-top: 1rem;
    width: 70%;
    font-size: 16px; /
    font-weight: 700;
    color: #fff;
}

.eye-icon {
    width: 20px;
    cursor: pointer;
}

.error {
    border: 2px solid var(--error-color);
}

.erro {
    color: var(--error-color);
    font-size: 0.9rem;
    display: none;
}

.caps-lock-aviso {
    color: var(--warning-color);
    font-size: 0.9rem;
    display: none;
}

button {
    padding: 0.8rem; 
    border: none;
    border-radius: 16px;
    background: var(--primary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-top: 1rem;
    width: 60%; 
    font-size: 16px; 
    font-weight: 700;
    color: #fff;
}

button[type="reset"] {
    background-color: var(--secondary-color);
    color: #707070;
}

p {
    color: var(--text-color);
    margin-top: 2rem;
}

a {
    color: var(--text-color);
}

#mensagem {
    color: var(--success-color);
    padding-top: 1rem;
}

#mensagem span {
    color: var(--success-color);
    margin-bottom: 1.5rem;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column; /* Empilha o SVG e o container verticalmente */
        align-items: center;
        padding: 0;
    }

    #svg {
        width: 60%; /* Ajusta o tamanho do SVG para dispositivos menores */
        max-width: 200px;
    }

    .container {
        padding: 1rem;
        max-width: 90%; /* Ajusta o tamanho máximo do container em dispositivos menores */
        margin-right: 0; /* Remove o espaçamento à direita */
        width: 100%;
    }
}
