@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --background-color: #f0f0f0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
    margin: 0;
    background-color: var(--background-color);
    padding: 0 1rem;
    padding-bottom: 5vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 800px; 
}

h1 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    color: #3A9B55;
    margin-top: -30px; 
    z-index: auto;
    font-weight: 700;
}

@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }
}
